<nav class="navbar">
    <div class="nav-title">
      <!-- <h1>Daksh Assistant</h1> -->
      <h1>Text2SQL Multi-Agent System</h1> 
    </div>
    
    <div class="nav-icons">
 
    </div>
  </nav>
       <!-- <div class="user-profile" matTooltip="User Profile">
        <mat-icon>account_circle</mat-icon>
        <span class="username">
          Ankur Saxena</span>
      </div> -->
      <!-- <div class="nav-icon" matTooltip="User Configuration" (click)="goToUserConfig()">
        <mat-icon>settings</mat-icon>
      </div>
  
 
      <div class="nav-icon" matTooltip="Analytics" (click)="goToAnalytics()">
        <mat-icon>analytics</mat-icon>
      </div>
  
  
      <div class="logout-icon" matTooltip="Logout" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </div> -->